<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
  <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
    <img class="header__img" src="{{ url_for('static', path='img/tlg.png') }}" alt='TBot' style="width: 50px; height: 50px;">
  </a>

  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><a href="#" class="nav-link px-2 text-secondary">Главная</a></li>
    {#{% if current_user.is_authenticated and current_user.status == 'teacher' %}#}
    <li><a href="#" class="nav-link px-2 text-white">Добавить группу</a></li>
    {#{% endif %}#}
  </ul>


  <div class="text-end">
    {% if is_authenticated %}
    <a href="{{ url_for('logout') }}" class="btn btn-outline-light me-2">Выйти</a>
    {% else %}
    <span>Добро пожаловать!</span>
    <a href="{{ url_for('login') }}" class="btn btn-outline-light me-2">Войти</a>
    <a href="{{ url_for('register') }}" class="btn btn-warning">Регистрация</a>
    {% endif %}
</div>
</div>