<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', path='css/libs/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    {% block style %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header class="header">{% include "main/_header.html" %}</header>

<div class="page">
    <main class="content">
        <h1>{{ self.title() }}</h1>
        {% if message %}
            <div class="alert alert-success">{{ message }}</div>
        {% endif %}
        {% include "main/_flash.html" %}
        {% block content %}{% endblock %}</main>
    <footer class="py-3 my-4">{% include "main/_footer.html" %}</footer>
</div>



    <script src="{{ url_for('static', path='js/libs/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/app.js') }}"></script>
    {% block script %}{% endblock%}
</body>
</html>
